<!DOCTYPE html>
<html xmlns:th="http://www.Thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>

<body style="background-color:#C6F0EB;">

<div style="text-align: center">
    <h1 style="color: red;">PROJECTS TABLE by Thymeleaf template engine</h1>
    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Number</th>
                <th>Project name</th>
                <th>Created At</th>
                <th>last Update</th>
                <th>Number of tasks</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="project,iterStat: ${projects}"
                th:style="${iterStat.odd}? 'color: green' : 'color: red'">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${project.getName()}"></td>
                <td th:text="${#temporals.format(project.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td th:text="${#temporals.format(project.lastUpdatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                <td th:unless="${#lists.isEmpty(project.tasks)}">
                    <ol th:each="task: ${project.tasks}" style="text-align: left;">
                        <li>Task name: <i th:text="${task.name}"> </i>
                            <br>
                            Description: <i th:text="${task.description}"></i>
                            <br>
                            Status: <i th:text="${task.status}"></i>
                        </li>
                    </ol>
                </td>
                <td th:if="${#lists.isEmpty(project.tasks)}">NO TASKS</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="text-align: center;">
        <a class="butt" th:href="@{/view/projects/add}">Add New Project</a>
    </div>
</div>

</body>